<div class="quiz-area" ng-show="inProgress">
  <div ng-show="!quizOver">
    <h2 id="question">{{question}}</h2>
    <ul id="options">
      <li ng-repeat="option in options">
        <label class="answer">
	  <input type="radio" name="answer" value="{{option}}">
	  {{option}}
	</label>
      </li>
    </ul>
    
    <button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
    <div ng-show="!answerMode">
      <button ng-click="nextQuestion()" class="next-question">Next</button>
      <!--
	  <span ng-show="correctAns">That is correct!</span>
	  <span ng-show="!correctAns">Nope!</span>
      -->
    </div>
  </div>
  
  <div ng-show="quizOver">
    <button ng-click="reset()">Try again</button>
    
    <div id="score">Score: {{score}}</div>
  </div>

  <ul class="debug-stats">
    <li>
      .itemDifficulty = {{itemDifficulty}}</li>
    <li>
      .nAnswered = {{nAnswered}}</li>
    <li>
      .totalDifficulty = {{totalDifficulty}}</li>
    <li>
      .nCorrect = {{nCorrect}}</li>
    <li>
      .measure = {{measure}}</li>
    <li>
      .passFailLevel = {{passFailLevel}}</li>
    <li>
      .meanError = {{meanError}}</li>
    <li>
      .isPassing = {{isPassing}}</li>
  </ul>

</div>
<div class="intro" ng-show="!inProgress">
  <h1>Click to start</h1>
  <button id="startQuiz" ng-click="start()">Start</button>
</div>
