/**
 * Main CSS Definitions
 */
html,
body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid;
}

header.header {
    margin: 0;
    display: block;
    width: 100%;
    background: #666;
}

header.header nav.nav {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.header .nav-links {
    padding: 0;
    margin: 0;
}

.header .nav-links li {
    display: inline-block;
    vertical-align: middle;
}

.header .nav-links a {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.9em;
    padding: 0.5em 1em;
}

.header .nav-links a:hover {
    color: #ddd;
}

.container {
    width: 80%;
    margin: 0 auto;
}

footer.footer {
    border-top: 1px solid #999;
    margin-top: 1em;
    padding-top: 1em;
    display: block;
    text-align: center;
}

.footer a {
    color: #a20034;
    text-decoration: none;
    font-size: 0.9em;
    padding: 0 1em;
}

.footer a:hover {
    color: #666;
    text-decoration: none;
}

.intro {
    
}

.quiz-area {
    border: 1px solid;
    padding: 1em;
    margin: 1em auto;
}

label.answer {
    display: inline-block;
    padding: 1em 1em 1em 1em;
    min-width: 50%;
    margin: 0.5em auto;
    
}

.debug-stats {
    list-style: none;
    background: #eee;
    text-align: center;
    display: block;
    font-family: monospace;
}

.debug-stats li {
    display: inline-block;
    width: 22%;
    border-right: 1px solid;
    padding: 0 0.5em;
    margin: 0;
    font-size: 0.8em;
}
